<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-3 col-lg-4 bg-image"></div>
        <div class="col-md-8 col-lg-4">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4 text-white">Bienvenido a Inventory DM</h3>
                            <form class="text-center text-lg-left text-white">
                                <div class="form-label-group">
                                    <label for="inputEmail">Dirección email</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Dirección email"
                                        required autofocus>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputPassword">Contraseña</label>
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Contraseña" required>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                                </div>
                                <button
                                    class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit">Ingresar</button>
                                <div class="text-center">
                                    <a class="small text-white" href="#">Olvido su contraseña?</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>