<div class="page-content">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-20">
        <h1 class="mt-4 text-grey">
          <b>Bienvenido al sistema de inventario DM</b>
        </h1>
        <p class="lead text-grey">
          Las caracteristicas principales de este sistemas segun las especificaciones brindadas por
          el equipo de FFFF.
        </p>
        <hr>
      </div>
      <div class="col-md-20">
        <h4 class="text-grey text-left"><b>La API permitira:</b></h4>
        <ul class="text-grey text-left">
          <li>Agregar / eliminar artículos de almacén y establecer su cantidad de stock. Los artículos tienen el siguiente información:</li>
            <ul>
              <li>SKU: Identificador del artículo.</li>
              <li>Descripción.</li>
              <li>Cantidad en stock.</li>
            </ul>
          <li>Cree un pedido seleccionando SKU y cantidad.</li>
          <li>Cancelar un pedido.</li>
          <li>Crear un pedido debería reducir la cantidad de SKU seleccionada, cancelar un pedido debería restaurar Cantidad de SKU.</li>
          <li>Mantenga un registro de todos los pedidos (fecha ingresada, sku, cantidad, estado, quién creó el pedido).</li>
          <li>Obtenga una lista de todos los SKU disponibles. (cantidad> 0), la lista debe tener paginación.</li>
          <li>Buscar en artículo específico SKU.</li>
        </ul>
        <hr>
        <h4 class="text-grey text-left"><b>Requerimientos de seguridad:</b></h4>
        <ul class="text-grey text-left">
          <li>Agregar funcionalidad de inicio de sesión para:</li>
            <ul>
              <li>Solo los administradores pueden agregar / eliminar / modificar SKU en el inventario.</li>
            </ul>
          <li>Todos pueden crear pedidos y cancelar pedidos.</li>
          <li>Todos pueden obtener una lista de todos los SKU.</li>
          <li>Todos pueden usar la función de búsqueda.</li>
        </ul>
        <hr>
        <h4 class="text-grey text-left"><b>Requerimientos de interfaz:</b></h4>
        <ul class="text-grey text-left">
          <li>Cree una pequeña aplicación front-end que se conecta a la API para mostrar una lista de SKU.</li>
          <li>La aplicación debe permitir buscar elementos por SKU.</li>
          <li>Debe ser 100% receptivo.</li>
          <li>Puedes hacerlo tan visualmente atractivo como puedas.</li>
        </ul>
      </div>
    </div>
  </div>
</div>