/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~ng-pick-datetime/assets/style/picker.min.css';

/* Sticky Footer Classes */
html,
body {
  height: 90%;
  margin-bottom: 30px;
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
#page-content {
  flex: 1 0 auto;
  margin-top: 3%;
}
#sticky-footer {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 20px;
}

#sticky-header {
  flex-shrink: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 20px;
}